<h1>SinVirt - Sinatra Libvirt</h1>
<table id="customers">
  <tr>
    <th>Name</th><th>State</th><th>Action</th>
  </tr>
  <% @domains.each do |domain| %>
    <tr>
      <td><%= domain.name %></td><td><%= domain.state %></td><td><a href="/start/<%= domain.name %>">Boot </a> | <a href="/shutdown/<%= domain.name %>" onclick="confirm('Are you sure');">Shutdown</a> *| <a href="/destroy/<%= domain.name %>" onclick="confirm('Are you sure');">Power Off</a> (unsafe)</td>
    </tr>
<% end %>
</table>
* NOTE: The 'shutdown' action recquires that the VM(host) has ACPId running




